<ul>
  <% if @reservable %>
    <li>
      <%= link_to "Appointments", reservable_appointments_path(@reservable) %>
    </li>
  <% end %>
</ul>

<div id="calendar-contianer">
  <div id="template_form"></div>
  <div id="calendar"></div>
</div>

<%= link_to 'New Template slot', new_time_slot_path %>

<script type="text/javascript">
var config = {
  form: '<%=j render "form", locals: @time_slot %>',
  minTime: '<%= Bookings.min_time %>',
  maxTime: '<%= Bookings.max_time %>',
  slotMinutes: <%= Bookings.slot_minutes %>
};
</script>

<%= javascript_include_tag "bookings/time_slots" %>