<!DOCTYPE html>
<html>
<head>
  <title>Bookings</title>
  
  <%= stylesheet_link_tag    "bookings/application", rel: 'stylesheet', media: "all" %>
  <%= stylesheet_link_tag    "bookings/application-print", rel: 'stylesheet', media: "print" %>

  <%= javascript_include_tag "bookings/application" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>

</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div id="calendar"></div>
  <div id="template_form"></div>
  <%= yield %>
  
</body>
</html>
