<h2>TODO: Create/Search for Patient</h2>

<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer %><br>
    <%= f.text_field :customer_id %>
  </div>

  <div class="field">
    <%= f.label :reservable %><br>
    <%= f.hidden_field :reservable_id %>
  </div>

  <div class="field">
    <%= f.label :from_time %><br>
    <%= f.text_field :from_time %>
  </div>
  <div class="field">
    <%= f.label :to_time %><br>
    <%= f.text_field :to_time %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
