<ul>
  <li>
    <%= reservables_links %>
  </li>
  <% if current_user.id == @reservable.id %>
    <li>
      <%= link_to "Time Slots", time_slots_path %>
    </li>
  <% end %>
</ul>

<div id="calendar-contianer">
  <div id="template_form"></div> 
  <div id="calendar"></div>
</div>


<script type="text/javascript">
//TODO HZ: get these values dynamically
var config = {
  form: '<%=j render "form", locals: @appointment %>',
  minTime: '8:00',
  maxTime: '18:00',
  slotMinutes: 15,
  appointments_url: "<%=j reservable_appointments_slots_path(@reservable) %>",
  isCustomer: <%= current_user.is_customer? %>,
  customerID: "<%= current_user.is_customer? ? current_user.id : '' %>"
};
</script>

<%= javascript_include_tag "bookings/appointments" %>