<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @template_slot.day %>
</p>

<p>
  <strong>From time:</strong>
  <%= @template_slot.from_time %>
</p>

<p>
  <strong>To time:</strong>
  <%= @template_slot.to_time %>
</p>

<p>
  <strong>Reservable:</strong>
  <%= @template_slot.reservable %>
</p>

<%= link_to 'Edit', edit_template_slot_path(@template_slot) %> |
<%= link_to 'Back', template_slots_path %>
